<h1>User Signup</h1>

<%= form_for @user do |f| %>
<div class="form-group">
<%= f.label :name %><br>
<%= f.text_field :name, class:"form-control" %><br>
</div>
<div class="form-group">
<%= f.label :height %><br>
<%= f.number_field :height, class:"form-control" %><br>
</div>
<div class="form-group">
<%= f.label :happiness %><br>
<%= f.number_field :happiness, class:"form-control" %><br>
</div>
<div class="form-group">
<%= f.label :nausea %><br>
<%= f.number_field :nausea, class:"form-control" %><br>
</div>
<div class="form-group">
<%= f.label :tickets %><br>
<%= f.number_field :tickets, class:"form-control" %><br>
</div>
<div class="form-group">
<%= f.label 'Check box if you are a theme park owner'%>
<%= f.check_box :admin %><br>
</div>
<div class="form-group">
<%= f.label :password %><br>
<%= f.password_field :password, class:"form-control" %><br>
</div>
<%= f.submit 'Create User', class:"btn btn-primary" %><br>
<% end %>